*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#topdiv
{
    height: 65px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color:rgb(146, 174, 69) ;
    margin: auto;
}

.restaurant {
    background-color: bisque;
    display: flex;
    border: 1px solid rgb(146, 174, 69);
}

#topimagediv img
{
    width: 100%;
    height: 100%;
    display: block;
}

.profilediv
{
    width: 200px;
}

.profile
{
    width: 100%;
}

.icon
{
    max-width: 20px;
}

.restaurant *
{
    margin: 0px;
    transition: background 0.2s linear;
}


button
{
    background-color:rgb(197, 202, 194);
}

#titleCanvas
{
    /* height: inherit; */
    align-items: center;
    /* position: relative; */
    top: 20px;
    
    animation: animated_div 3s 1;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animated_div;
    border-radius: 5px;
}

@keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
/* 50% {transform: rotate(0deg);left:500px;} */
/* 55% {transform: rotate(0deg);left:500px;}
70% {transform: rotate(0deg);left:500px;} */
100% {transform: rotate(-360deg);left:0px;}
}

#christmas
{
    background-color: black;
    animation-name: example;
    animation-duration: 2s;
}

#foodvideo
{
    float: left;
}

@keyframes example 
{
    from 
    {
        background-color: black;
    }
    to 
    {
        background-color: blueviolet;
    }
}

.restaurant:hover
{
    background-color: rgb(217, 219, 216);
    transition: background 0.2s linear;
}

audio{
    background-color: blue;
}

form *
{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

input
{
    max-width:50px;
}

#bottomimagediv
{
    /* height: 130px; */

}

#bottomimagediv img
{
    width: 100%;
    height: 100%;
    display: block;
}



